```
__pycache__/
.venv/
venv/
env/
.env
local_settings.py
dist/
build/
.pytest_cache/
.tox/
.nox/
*.egg-info/
*.egg
*.whl
.idea/
.vscode/
.coverage
*.log
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
htmlcov/
*.pyc
*.so
*.swp
```